In [5]:
import pandas as pd
import os
import numpy as np

In [7]:
# path = os.getcwd()
path ='C:\\Users\\luciu\\Box Sync\\ncaa-march-madness-2020\\data\\MDataFiles_Stage1'

In [8]:
#load data
ncaa_detail = pd.read_csv(path+'\\MNCAATourneyDetailedResults.csv')
reg_detail = pd.read_csv(path+'\\MRegularSeasonDetailedResults.csv')
#second_ = pd.read_csv(path+'MSecondaryTourneyCompactResults.csv')

seed = pd.read_csv(path+'\\MNCAATourneySeeds.csv')
coach = pd.read_csv(path+'\\MTeamCoaches.csv')

In [9]:
ncaa_detail.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19

In [10]:
reg_detail.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [11]:
# check col content
ncaa_detail.columns == reg_detail.columns 

# ncaa_detail.columns[:9]==second_.columns
# output: last col False, else True

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True])

In [12]:
# add ncaa & regular 
games = pd.concat([ncaa_detail,reg_detail]) # all non-secondary data

In [13]:
# game location, home 1, away -1, neural 0
games['WLoc'] = games['WLoc'].replace("H",1)
games['WLoc'] = games['WLoc'].replace("A",-1)
games['WLoc'] = games['WLoc'].replace("N",0)

In [14]:
games.tail()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
87499,2019,132,1153,69,1222,57,0,0,22,50,...,33,11,18,17,16,8,7,2,4,19
87500,2019,132,1209,73,1426,64,0,0,20,50,...,33,11,17,13,28,12,14,5,2,24
87501,2019,132,1277,65,1276,60,0,0,22,55,...,25,10,12,3,26,17,6,5,5,11
87502,2019,132,1387,55,1382,53,0,0,22,59,...,19,8,10,13,30,9,11,2,7,16
87503,2019,132,1463,97,1217,85,1,0,32,53,...,32,19,24,12,15,7,9,1,2,22

In [15]:
# swap cols
'''
col = np.array(games.columns)
def swap(col,ind1s,ind1e,ind2s,ind2e):
    temp = col[ind1s:ind1e].copy()
    col[ind1s:ind1e] = col[ind2s:ind2e]
    col[ind2s:ind2e] = temp
inv_col = col.copy()
swap(inv_col,4,6,2,4)
swap(inv_col,8,21,21,34)
# WLoc: H -->A; A-->H, N-->N
inv_games = games.copy()
inv_games = games[inv_col]
inv_games['WLoc'] = inv_games['WLoc'].replace("H","temp")
inv_games['WLoc'] = inv_games['WLoc'].replace("A","H")
inv_games['WLoc'] = inv_games['WLoc'].replace("temp","A")

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-15-b676b83c9170>, line 16)

In [16]:
# add score difference
Score_dif = games['WScore']-games['LScore']
Score_dif = pd.Series(Score_dif)
games['ScoreDif'] = Score_dif
# score chance
WSAc = (games['WFGM']*2+games['WFGM3']+games['WFTM'])/(games['WFGA']*2+games['WFGA3']+games['WFTA'])
games['WSAc'] = WSAc
LSAc = (games['LFGM']*2+games['LFGM3']+games['LFTM'])/(games['LFGA']*2+games['LFGA3']+games['LFTA'])
games['LSAc'] = LSAc
# rebounds chance
WRC = (games['WOR']+games['WDR'])/(games['WOR']+games['WDR']+games['LOR']+games['LDR'])
LRC = 1-WRC
games['WRC'] = WRC
games['LRC'] = LRC

In [17]:
games.iloc[1]

Season      2003.000000
DayNum       136.000000
WTeamID     1112.000000
WScore        80.000000
LTeamID     1436.000000
LScore        51.000000
WLoc           0.000000
NumOT          0.000000
WFGM          31.000000
WFGA          66.000000
WFGM3          7.000000
WFGA3         23.000000
WFTM          11.000000
WFTA          14.000000
WOR           11.000000
WDR           36.000000
WAst          22.000000
WTO           16.000000
WStl          10.000000
WBlk           7.000000
WPF            8.000000
LFGM          20.000000
LFGA          64.000000
LFGM3          4.000000
LFGA3         16.000000
LFTM           7.000000
LFTA           7.000000
LOR            8.000000
LDR           26.000000
LAst          12.000000
LTO           17.000000
LStl          10.000000
LBlk           3.000000
LPF           15.000000
ScoreDif      29.000000
WSAc           0.473373
LSAc           0.337748
WRC            0.580247
LRC            0.419753
Name: 1, dtype: float64

In [18]:
win_games = games[['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc','NumOT',
                   'WSAc', 'WRC','WAst', 'WStl', 'WBlk', 
                   'LSAc', 'LRC','LAst', 'LStl', 'LBlk', 'ScoreDif']].copy()
lose_games = games[['Season', 'DayNum', 'LTeamID', 'LScore', 'WTeamID', 'WScore','WLoc','NumOT',
                   'LSAc', 'LRC','LAst', 'LStl', 'LBlk',
                   'WSAc', 'WRC','WAst', 'WStl', 'WBlk',  'ScoreDif']].copy()
lose_games.loc[:,'WLoc'] = -lose_games['WLoc']
lose_games.loc[:,'ScoreDif'] = -lose_games['ScoreDif']
win_games.columns = ['Season', 'DayNum', 'T1', 'T1Score', 'T2', 'T2Score', 'Loc','NumOT',
                   'T1SAc', 'T1RC','T1Ast', 'T1Stl', 'T1Blk', 
                   'T2SAc', 'T2RC','T2Ast', 'T2Stl', 'T2Blk', 'ScoreDif']
lose_games.columns = ['Season', 'DayNum', 'T1', 'T1Score', 'T2', 'T2Score', 'Loc','NumOT',
                   'T1SAc', 'T1RC','T1Ast', 'T1Stl', 'T1Blk', 
                   'T2SAc', 'T2RC','T2Ast', 'T2Stl', 'T2Blk', 'ScoreDif']

In [62]:
all_games = pd.concat([win_games,lose_games])

In [26]:
print(lose_games.shape,win_games.shape,all_games.shape)

(88619, 19) (88619, 19) (177238, 19)

In [63]:
# add seed
all_games = pd.merge(all_games,seed,left_on = ['T1','Season'], right_on = ['TeamID','Season'],how = 'left')
all_games = all_games.drop(columns = ['TeamID'])

In [64]:
# move output last col
all_games = all_games[['Season', 'DayNum', 'T1', 'T1Score', 'T2', 'T2Score', 'Loc', 'NumOT',
       'T1SAc', 'T1RC', 'T1Ast', 'T1Stl', 'T1Blk', 'T2SAc', 'T2RC', 'T2Ast',
       'T2Stl', 'T2Blk', 'Seed', 'ScoreDif']].copy()

In [67]:
all_games['Seed'] = all_games.Seed.str.extract('(\d+)').fillna(0).astype('int64')

In [68]:
np.set_printoptions(suppress=True)

In [71]:
data = all_games.values
type(data)
data.shape

(177238, 20)

In [73]:
np.savetxt('processed_data.csv', data, delimiter=',')

In [ ]:
# data precessing end